{% extends "../base/base.html" %}
{% block 'main' %}
	<aside>
		<h3>Recent Posts</h3>
		<div id="recent">
			<ul>
				<li><a href="assignments/homework/3/">Homework 3 - CSS Pizza Builder </a></li>
				<li><a href="assignments/homework/4/">Homework 4 - Grounded Critique of Spotify </a></li>
				<li><a href="assignments/exercise/voiceover/"> VoiceOver Exercise </a></li>
			</ul>
		</div>
	</aside>
	<article>
		<header>
			<h2> Contained herein... </h2>
			<p> This page should and shall contain all the information necessary for you to give me an <span class="emphasized"> awesome </span> grade in LBSC795. </p>
		</header>
		<footer>
			<h3>About the author</h3>
			<p> Matt Rothstein: Current and part-time student of HCI at the University of Maryland. </p>
		</footer>
	</article>
{% endblock %}