{% comment %} PROJECT PROTOTYPE TEMPLATE {% endcomment %}

{% extends "../base/base.html" %}
{% block 'main' %}

<article id="prototype_widget">
	<section id="input">
		<form id="friend_search" class="search form jsform">
			<label for="friend_name"> My friend <input id="friend_name" name="friend_name" type="text" placeholder="John Smith" /> is missing. </label>
		</form>
	</section>
	<section id="friend_pictures">
	</section>
	<section id="matched_casualties">
	</section>
</article>

{% endblock %}